Please always use the virtual environment for this project.
Please use the following virtual environment: /home/chrism/git/xeniumslicer_windsurf_claude37thinking/venv
Or create venv if it doesn't exist.